/* BACKGROUND */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 80px 0 0 0;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* HOME PAGE */

.homepage {
  margin-top: 200px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

#inputfield:focus {
  outline: none;
  box-shadow: none;
}

button {
  background: none;
  border: 4px solid #fff;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  background: #b82455;
}
button:hover {
  background: #6d1633;
  color: #fff;
}

/* SWITCH PAGE */

.switchpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#question {
  font-size: 2.7em;
  font-family: 'Montserrat', sans-serif;
}

#inputfield {
  width: 650px;
  background: none;
  border: 4px solid #fff;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: text;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* ACTIVITY PAGE */
.box-row,
.box-row p {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.button-row {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

/* CHECKOUT PAGE */

.summarybox {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.summarybox tr #total {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

thead {
  font-size: 40px;
}

td {
  text-align: center;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  box-shadow: -2px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.todo {
  margin-top: 15%;
  margin-left: 2%;
}

/* NavBar */
.navbar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 150% 150%;
  animation: gradient 15s ease infinite;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #00000067 1px 10px 10px;
}

.ToDo {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
}

.ToDo:hover {
  /* color: white; */
  /* background-color: lightblue; */
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.Home {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
}

.Home:hover {
  /* color: white;
  background-color: lightblue; */
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
}

.Study {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
}

.Study:hover {
  /* color: white;
  background-color: lightblue; */
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
}

.study-container {
  display: flex;
  justify-content: space-between;
}

.study-task-window {
  width: 700px;
  margin-left: 20px;
}

.study-timer {
  margin-top: 130px;
  margin-right: 50px;
}

.StudyZone:hover {
  color: white;
  background-color: lightblue;
}

.UserProfile {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
}

.spotify-player {
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 45%;
}

.Logout {
  color: black;
  /* position: fixed; */
  /* margin: 20px; */
  text-decoration: none;
  font-size: 22px;
  /* right: 20px; */
  /* margin: 30px; */
  text-align: center;
  margin-top: 30px;
  margin-left: 0px;
}

/* .LogoutText {
  transition: font-weight  0.2s;
} */

.LogoutText:hover {
  transition: font-weight .2s, text-shadow .2s, ease-in-out;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
}

/* google search bar styling */
.search-container {
  display: flex;
}

.search-bar {
  /* width: 100%; */
  width: 700px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  margin-bottom: 200px;
}

.search-box {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #151516;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(82, 93, 250, 0.363);
  cursor: pointer;
}

/* navbar */ 
.UserProfile {
  height: 35px;
  width: 35px;
  border: 1px solid rgb(200, 200, 200);
  /* position: absolute;
  right: 0; */
  margin-left: 70%;
}

.UserProfile:hover {
  box-shadow: 2px 2px 20px gray;
  cursor: pointer;
}
.profileModal {
  background-color: black;
  position: fixed;
  top: 13%;
  left: 86%;
  width: 200px;
  height: 200px;
  border-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: 0px 0px 15px black;
}
.modalButton {
  height: 10px;
  width: 10px;
  margin-bottom: 7px;
  margin-left: 83px;
}

.popper {
  display: flex;
  z-index: 3;
}
