/* BACKGROUND */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 150vh;
  margin-top: 80px;
  padding: 30px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* HOME PAGE */

.homepage {
  margin-top: 200px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

#inputfield:focus {
  outline: none;
  box-shadow: none;
}

button {
  background: none;
  border: 4px solid #fff;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  background: #b82455;
}
button:hover {
  background: #6d1633;
  color: #fff;
}

/* SWITCH PAGE */

.switchpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#question {
  font-size: 2.7em;
  font-family: 'Montserrat', sans-serif;
}

#inputfield {
  width: 650px;
  background: none;
  border: 4px solid #fff;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: text;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* ACTIVITY PAGE */
.box-row,
.box-row p {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

.button-row {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
}

/* CHECKOUT PAGE */

.summarybox {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.summarybox tr #total {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

thead {
  font-size: 40px;
}

td {
  text-align: center;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  box-shadow: -2px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/* NavBar */
.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ToDo {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 22px;
}

.ToDo:hover {
  color: white;
  background-color: lightblue;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 22px;
}

.Home:hover {
  color: white;
  background-color: lightblue;
}

.Study {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 22px;
}

.StudyZone:hover {
  color: white;
  background-color: lightblue;
}

.UserProfile {
  color: black;
  position: fixed;
  right: 0;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
}

/* google search bar styling */
.search-container {
  display: flex;
}

.search-bar {
  /* width: 100%; */
  width: 700px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-box {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #151516;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(82, 93, 250, 0.363);
  cursor: pointer;
}

/* navbar */ 
.UserProfile {
  height: 35px;
  width: 35px;
}
.UserProfile:hover {
  box-shadow: 2px 2px 10px gray;
}
.profileModal {
  background-color: black;
  position: fixed;
  top: 82px;
  left: 1250px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.popper {

  z-index: 2;
}
